.CompetitionCard {
  display: flex;
 -webkit-box-shadow: 0 .4rem 1rem rgba(0,0,0,.175)!important;
    box-shadow: 0 .4rem 1rem rgba(0,0,0,.175)!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4d4d4d;
  column-gap: 10px;
  border-radius: 0.25rem !important;
  /* word-wrap: break-word; */
  padding: 1.5rem !important;
  width: 314px;
  min-height: 140px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all ease 0.9s;
  row-gap: 1rem;
  margin: 24px 0px;
}
.CompetitionCard:hover {
 -webkit-box-shadow: 0 .8rem 1.5rem rgba(0,0,0,.175)!important;
    box-shadow: 0 .8rem 1.5rem rgba(0,0,0,.175)!important;
    color: #262626;
  transition: all ease 0.9s;
    cursor: pointer;
}


@media (max-width: 450px) {
  .CompetitionCard{
    width: 100%;

  }
}