.pagebody {
    margin-top: -50px;
    padding: 20px;
    z-index: 100;
    background: #ffe792;
    min-height: 800px;
    width: 700px;
}

.container {
    width: 700px;
}
@media (min-width: 992px){
.container {
    max-width: 960px;
}
}

@media (min-width: 768px){
.container {
    max-width: 720px;
}}
@media (min-width: 576px){
.container {
    max-width: 540px;
}
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
