.headersection{
    min-height: 300px;
    display: block;
    margin: auto;
    text-align: center;
    background: black;
    z-index: 1;
    background-image: url(../public/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

}
.imageContainer{
    display: block;
    margin: auto;
    text-align: center;
    /* align-self: baseline; */
    height: 100%;
}
.logo{
    display: block;
    margin: auto;
    text-align: center;
}
.overlay{
    display: block;
    margin: 0;
    text-align: center;
    /* align-self: baseline; */
    background: rgba(0,0,0,0.3);
    width: 100%;
    min-height: 300px;
}